/* .footer {
  background-color: var(--primary-color);
  height: 55px;
  align-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 50px;
  font-size: 18px;
} */
